<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{"GrabNGo" | translate}}</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="togglerNavBar.toggle()"
        aria-controls="togglerNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="togglerNavBar"
        mdbCollapse
        #togglerNavBar="mdbCollapse"
      >
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
          <li class="nav-item mx-2">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{"Home" | translate}}</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active">{{"Settings" | translate}}</a>
          </li>
          <li mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="javascript:void(0)"
              id="navbarLanguageDropdown"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
              <span *ngIf="translate.currentLang == 'zh'"><i class="flag-china flag m-0"></i> 中文</span>
              <span *ngIf="translate.currentLang == 'en'"><i class="flag-united-kingdom flag m-0"></i> English</span>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="navbarLanguageDropdown">
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh')">
                  <i class="flag-china flag"></i> 中文
                  <i class="fa fa-check text-success ms-2" *ngIf="translate.currentLang == 'zh'"></i>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                  <i class="flag-united-kingdom flag"></i> English
                  <i class="fa fa-check text-success ms-2" *ngIf="translate.currentLang == 'en'"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
